*{
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

header, footer {
  height: 10%;
  background-color: #77f0ff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 40px;
}

main {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#menu {
  background-color: lightsalmon;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  margin-bottom: 30px;
}

#middleColumn {
  width: 13%;
  background-color: aquamarine;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

aside {
  width: 45%;
  display: flex;
  flex-direction: column;
}

#smallUpper {
  background-color: lightsalmon;
  height: 15%;
  padding: 30px;
}

#smallLower {
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#smallLeft {
  background-color: white;
  width: 40%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#smallRight {
  background-color: aquamarine;
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

span {
  background-color: white;
  font-size: large;
  padding: 5px 5px 5px 5px;
}

img {
  max-width: 200px;
}
